/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

button,
a,
* {
	@apply cursor-none;
}

html,
body {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
